@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

ul {
  padding-inline-start: 0;
}
ul li {
  list-style-type: none;
}

.side-bar {
  background-color: #1E2A3A;
  width: 270px;
}
.side-bar .nav-btn {
  display: inline-block;
  background: #2A384A;
  padding: 8px 6px;
  border-radius: 40px;
  width: 32px;
  height: 32px;
}
.side-bar .nav-btn:hover {
  cursor: pointer;
}
.side-bar .nav-btn:hover .nav-line {
  width: 14px !important;
}
.side-bar .nav-btn:hover .nav-line:nth-child(2) {
  width: 18px !important;
}
.side-bar .nav-btn .lines {
  background-color: #fff;
}
.side-bar .nav-btn .lines .nav-line {
  margin-bottom: 4px;
  display: block;
  height: 2px;
  width: 18px;
  background: #fff;
}
.side-bar .nav-btn .lines .nav-line:last-child {
  margin-bottom: 0;
}
.side-bar .nav-btn .lines .nav-line:nth-child(2) {
  width: 14px;
}
.side-bar .logo-sec {
  display: flex;
  justify-content: space-between;
  padding: 50px 15px;
}
.side-bar .menu-links {
  display: flex;
  flex-direction: column;
}
.side-bar .menu-links ul li {
  padding: 10px 15px;
  margin-bottom: 2px;
}
.side-bar .menu-links ul li.active {
  color: #f1f1f1;
  background: #2A384A;
  border-radius: 50px;
}
.side-bar .menu-links ul li:hover {
  color: #f1f1f1;
  background: #2A384A;
  border-radius: 50px;
}
.side-bar .menu-links ul a {
  color: #fff;
  text-decoration: none;
  display: inline-flex;
}
.side-bar .menu-links ul a span {
  padding-right: 30px;
}
.side-bar .toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  background: #2A384A; /* Blue background color */
  border-radius: 15px;
  overflow: hidden;
}
.side-bar .toggle-switch .hidden-checkbox {
  display: none;
}
.side-bar .toggle-switch .toggle-label {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff; /* White button color */
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}
.side-bar .toggle-switch input:checked + .toggle-label {
  transform: translateX(15px);
}
.side-bar .bottom-links {
  padding-top: 100px;
  padding-left: 15px;
  color: #fff;
}
.side-bar .bottom-links .content {
  padding-top: 20px;
}
.side-bar .bottom-links .home-icon {
  padding-right: 10px;
}
.side-bar .bottom-links .social-media a {
  padding-right: 10px;
}

.menu-sec-closed .right-section {
  max-width: 100% !important;
}
.menu-sec-closed .item {
  display: none;
}
.menu-sec-closed .bottom-links .content {
  display: none;
}
.menu-sec-closed .bottom-links .social-logo {
  display: none;
}
.menu-sec-closed .social-media {
  display: flex;
  flex-direction: column;
}
.menu-sec-closed .side-bar {
  width: 90px;
}
.menu-sec-closed .side-bar .logo-sec {
  flex-direction: column;
  flex-wrap: wrap;
}
.menu-sec-closed .side-bar .logo-sec .logo {
  padding-bottom: 20px;
}
.menu-sec-closed .side-bar .logo-sec .item {
  display: none;
}
.menu-sec-closed .side-bar .logo-sec span.logo-probase {
  display: none;
}

.side-bar {
  /* Your existing styles for the sidebar */
  transition: width 0.3s ease; /* Add a transition for smooth width changes */
}

@media (max-width: 1023px) {
  .container {
    max-width: 100% !important;
  }
  .body-wrapper .right-section {
    padding-top: 70px;
    max-width: 100%;
    width: 100%;
    padding-bottom: 100px;
  }
  .body-wrapper {
    flex-direction: column;
  }
  .side-bar {
    width: 100%;
  }
  .menu-sec {
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: #1E2A3A;
    left: 0;
    top: calc(-100% - 600px);
    transition: 0.3s;
    z-index: 9;
    height: 100vh;
    padding-top: 70px;
  }
  .menu-sec-closed .bottom-links .content {
    display: block !important;
  }
  .menu-sec-closed .bottom-links .logo {
    display: flex;
  }
  .menu-sec-closed .bottom-links .logo .social-logo {
    display: block !important;
  }
  .menu-sec-closed .social-media {
    flex-direction: row;
  }
  .menu-sec-closed .item {
    display: block !important;
  }
  .menu-sec-closed .menu-sec {
    padding-top: 50px;
    top: 70px;
    display: flex;
    flex-direction: column;
    padding-bottom: 232px;
    overflow-y: scroll;
  }
  .side-bar .bottom-links {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .side-bar .logo-sec, .menu-sec-closed .side-bar .logo-sec {
    flex-direction: unset;
    width: 100%;
    padding: 20px !important;
    background-color: #1E2A3A;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: solid 1px #E3E4F3;
  }
  .side-bar .logo-sec .logo a, .menu-sec-closed .side-bar .logo-sec .logo a {
    display: flex;
  }
  .side-bar .logo-sec .logo-probase, .menu-sec-closed .side-bar .logo-sec .logo-probase {
    padding-left: 10px;
    display: flex !important;
  }
  .text-sec {
    display: none !important;
  }
  .icon-sec {
    display: none !important;
  }
  .right-section .navbar .container-fluid {
    flex-wrap: nowrap;
  }
  .right-section .navbar .link {
    padding: 8px 15px !important;
    font-size: 10px !important;
  }
  .right-section .connect-btn a {
    font-size: 10px !important;
    padding: 8px 7px !important;
  }
  .right-section .bottom-section .left-sec {
    display: flex;
    flex-wrap: wrap;
  }
  .three-col {
    margin-bottom: 50px;
  }
  .three-col .counter-sec .status-count {
    background: #E6EEFF;
    margin: 0px 1px !important;
  }
  .tabs ul.tabs-nav li {
    padding: 10px 14px !important;
  }
  .tabs {
    padding-bottom: 200px !important;
    margin-bottom: 100px;
  }
}
@media (max-width: 1281px) {
  .col-md-9 {
    width: 100%;
  }
  .col-md-4 {
    width: 100%;
  }
  .col-md-3 {
    width: 100%;
  }
  .text-sec {
    display: none !important;
  }
  .icon-sec {
    display: none !important;
  }
  .right-section .navbar .container-fluid {
    flex-wrap: nowrap;
  }
  .right-section .navbar .link {
    padding: 8px 15px !important;
    font-size: 10px !important;
  }
  .right-section .connect-btn a {
    font-size: 10px !important;
    padding: 8px 7px !important;
  }
  .right-section .bottom-section .left-sec {
    display: flex;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=sidebar.css.map */
